.skills {
    margin-left: 23%;
    margin-top: 20px;
    min-height: 80vh;
}

.skills-section {
    min-width: 90%;
}

.skills-icon {
    font-size: 5rem;
    width: 90%;
    text-align: center;
    transition: all 0.5s ease;
}

.card-item {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;

    &:hover .skills-icon {
        transform: rotateY(180deg);
        opacity: 0;
    }

    &:hover .card-item__name {
        opacity: 1;
    }
}

.card-item__name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.5s ease;
}

.js {
    color: rgb(252, 238, 49);
}

.git {
    color: orange;
}

.npm {
    color: rgb(197, 30, 57);
}

.react {
    color: rgb(9, 204, 204);
}

.html5 {
    color: orangered;
}

.css3 {
    color: rgb(16, 117, 212);
}

.sass {
    color: magenta;
}
