.skills {
    margin-top: 20px;
    min-height: 80vh;
}

.skills-section {
    min-width: 90%;
}

.skills-icon {
    font-size: 5rem;
    width: 90%;
    text-align: center;
    transition: all 0.5s ease;
}

.skills-icon--default{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .skills-icons__name{
        font-size: 2.5rem;
        text-shadow: 2px 2px rgba($color: #000000, $alpha: 0.3);
    }
}

.card-item {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    &:hover .skills-icon {
        transform: rotateY(180deg);
        opacity: 0;
    }

    &:hover .card-item__name {
        opacity: 1;
    }
}

.card-item__name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.5s ease;
    text-align: center;
}

.js {
    color: rgb(252, 238, 49);
}

.git {
    color: orange;
}

.mongo {
    color: rgb(4, 141, 11);
}

.react {
    color: rgb(9, 204, 204);
}

.html5 {
    color: orangered;
}

.css3 {
    color: rgb(16, 117, 212);
}

.sass {
    color: magenta;
}

.node {
    color: rgb(95, 197, 0);
}

.express {
    color: white;
    background-color: rgb(185, 185, 185);
}

.typescript{
    color: white;
    background-color: rgb(58, 77, 245);
}
