.skills {
    margin-left: 23%;
    margin-top: 20px;
    min-height: 80vh;
}

.skills-section {
    min-width: 90%;
}

.skills-icon{
    font-size: 5rem;
    width: 25%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.js{
    color: yellow;
}

.git{
    color: orange;
}

.node{
    color: greenyellow;
}

.react{
    color: aqua;
}

.html5{
    color: orangered;
}

.css3{
    color: rgb(16, 117, 212);
}

.sass{
    color: magenta;
}