.container {
    display: flex;
    width: 90%;
    margin: auto;
    max-width: 1280px;
}

body, html{
    font-family: 'Fredoka', sans-serif;
    background: radial-gradient(circle, rgba(14,82,53,1) 0%, rgba(46,55,51,1) 100%);     
}

